/* desktop */
/* @media only screen and (min-width:509px){
  .article-content {
    max-width: 860px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
  }
  .article-graphic {
    max-width:860px;
  }
} */
/* tablet */
/* @media only screen and (min-width:361px){
  .article-content {
    max-width: 508px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
  }
} */
/* mobile */
/* @media only screen and (min-width:120px) {
  .article-content {
    max-width: 360px;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
  }
} */


.article-content {
  /* max-width: 860px; */
  background-color: white;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-top: 32px;
  /* margin: 16px; */
}
.article-graphic {
  position: absolute;
  align-content: center;
  padding: 16px;
}

.inline-graphic {
 max-height: 22px;
}

.map-tabs {
  /* align-content: center !important; */
  width: 100%;
  /* padding-left: 50%; */
  padding-right: 50%;
  padding-top: 16px;
  padding-bottom:16px;
}
  
  .body-bg {
    background-color: #F3F3F3;
  }


h1{
  padding:16px;
  line-height: 160%;
}
h3{
  padding:16px;
  line-height: 160%;
}

p{
  font-size: 1em;
  line-height: 160%;
}

article{
  border-top: 1px grey;
}

main {
  margin-top:16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

