/*********************
BREAKPOINTS
*********************/
body {
  flex-direction: center;
  background-color: #333333;
  overflow-x: hidden;
}

.closebtn {
  float: left;
  width: 60px;
  height: 60px;
  transition-delay: 1s;
}

#closeNav {
  width: 0px;
  padding: 5%;
  -webkit-transition: 2s;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: "header header header" "content content content" "footer  footer  footer";
  max-width: 1280px;
}

@media (max-width: 540px) {
  body {
    font-size: 21px !important;
  }
}
img {
  -webkit-transition: 2s;
}

.sidebar {
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 0%;
  -webkit-transition: 2s;
  margin-top: -8px;
  margin-left: -8px;
  -webkit-transition: 1.5s;
  overflow-x: hidden;
  z-index: 9999999;
  text-align: left;
  grid-area: sidebar;
  background-color: rgba(241, 76, 126, 0.9);
  z-index: 20;
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.5);
}
.sidebar h3 {
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  color: rgba(10, 10, 10, 0.8);
  margin-left: 32px;
}
.sidebar p {
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  padding: 2%;
  margin-left: 24px;
}
.sidebar a {
  text-decoration: none;
  color: #0a0a0a;
  font-family: "Inconsolata", monospace;
  font-size: 22px;
  margin-left: 24px;
  -webkit-transition: 2s;
}
.sidebar a:hover {
  color: #0a9bff;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  -webkit-transition: 2s;
}
.sidebar li {
  font-family: "Inconsolata", monospace;
  font-size: 21px;
  -webkit-transition: 2s;
}
.sidebar li:hover {
  color: #0a9bff;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  -webkit-transition: 2s;
}

.content {
  grid-area: content;
  position: center;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
  overflow-x: hidden;
  text-align: center;
}
.content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Questrial", sans-serif;
  font-size: 21px;
  text-align: left;
  line-height: 40px;
  position: center;
  display: inline-block;
  margin-right: 5%;
  max-width: 90%;
}
.content a {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  -webkit-transition: 2s;
  text-align: center;
  text-decoration: none;
}
.content a:hover {
  color: #0e90b5;
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  -webkit-transition: 2s;
}
.content a:visited {
  color: #0e90b5;
}
.content .inactive {
  grid-area: content;
  color: rgba(255, 255, 255, 0.279);
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  -webkit-transition: 2s;
  text-align: center;
  text-decoration: none;
}
.content .inactive:hover {
  color: rgba(255, 255, 255, 0.279);
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  -webkit-transition: 2s;
  text-align: center;
  text-decoration: none;
}
.content .setupVisual {
  width: 75%;
  height: 75%;
}
.content #hero-img-sm {
  max-width: 450px;
  width: 75%;
  height: 75%;
  grid-area: content;
  position: center;
  float: center;
}
.content #hero-img {
  max-width: 700px;
  margin-left: 10%;
  margin-right: 15%;
  width: 80%;
  height: 80%;
  grid-area: content;
  position: center;
  float: center;
}
.content .blue-code {
  font-family: "Inconsolata", monospace;
  color: #0e90b5;
  -webkit-transition: 2s;
}
.content .blue-code:hover {
  font-family: "Inconsolata", monospace;
  color: #0e90b5;
  font-size: 23px;
  -webkit-transition: 2s;
}
.content .red-code {
  font-family: "Inconsolata", monospace;
  color: #f14c7e;
  -webkit-transition: 2s;
}
.content .red-code:hover {
  font-family: "Inconsolata", monospace;
  color: #f14c7e;
  font-size: 23px;
  -webkit-transition: 2s;
}
.content .white-code {
  -webkit-transition: 2s;
  font-family: "Inconsolata", monospace;
}
.content .white-code:hover {
  font-family: "Inconsolata", monospace;
  font-size: 23px;
  -webkit-transition: 2s;
}
.content .subheader {
  color: #646464;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5%;
}
.content h4 {
  text-align: left;
  color: #646464;
  font-size: 24px;
  font-style: italic;
}
.content h3 {
  font-family: "Inconsolata", monospace;
  font-size: 26px;
  color: #3296ff;
}
.content h2 {
  font-size: 28px;
  font-family: "Inconsolata", monospace;
  color: #0e90b5;
  text-align: right;
  margin-bottom: -20px;
  margin-right: 3%;
}
.content h1 {
  font-size: 36px;
  font-family: "Inconsolata", monospace;
  color: #0e90b5;
  text-align: right;
  max-width: 90%;
}
.content li {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-style: italic;
  color: #969696;
  margin-left: 10%;
  margin-bottom: 12px;
}
.content .instructionalImg {
  width: 100%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 3%;
  max-width: 700px;
  float: center;
}
.content .categ {
  font-style: italic;
  font-size: 32px;
  color: #c8c8c8;
  margin-top: 20px;
  margin-bottom: 50px;
}
.content .egText {
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  text-align: center;
  max-width: 75%;
  line-height: 36px;
}
.content .chapterLinks {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  text-align: center;
  max-width: 75%;
  line-height: 36px;
}

.header {
  grid-area: header;
}

#pageHeader {
  margin-top: -15px;
  width: 100%;
  grid-area: header;
  position: fixed;
  background-color: white;
  background: linear-gradient(180deg, #333333, #333333f6);
  box-shadow: -5px 7px 9px rgba(0, 0, 0, 0.1);
  font-family: "Inconsolata", monospace;
  margin-left: -10px;
}
#pageHeader h1 {
  font-size: 36px;
  text-align: right;
  font-style: thin;
  margin-right: 15%;
  color: #f14c7e;
}
#pageHeader h2 {
  margin-left: 20%;
  font-size: 24px;
  font-style: thin;
  text-align: right;
  margin-right: 15%;
  margin-bottom: 2%;
  color: rgba(241, 76, 126, 0.9);
}

#headerBreak {
  grid-area: header;
  margin-top: 3px;
  width: 100%;
  z-index: 1;
  margin-top: 2%;
  border-top: 1.25px solid rgba(241, 76, 126, 0.5);
}

#footerBreak {
  grid-area: footer;
  margin-top: 3px;
  width: 100%;
  z-index: 2;
  border-top: 3px solid #646464;
}

.footer {
  grid-area: footer;
  position: fixed;
  margin-left: 200px;
  margin-right: 10%;
}
.footer a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.footer a:hover {
  background-color: #ddd;
  color: black;
}
.footer .previous {
  background-color: #f1f1f1;
  color: black;
}
.footer .next {
  background-color: #4CAF50;
  color: white;
}
.footer .round {
  border-radius: 50%;
}

#logo {
  margin-top: -6%;
  margin-right: 3%;
  float: right;
  width: 10%;
  height: 10%;
  -webkit-transition: 2s;
  max-width: 120px;
  min-width: 90px;
}

#logo:hover {
  width: 11%;
  height: 11%;
  max-width: 145px;
  -webkit-transition: 2s;
}

#nav-menu {
  padding: 10px;
  width: 100px;
  height: 100px;
  box-shadow: -4px, 7px, 7px, black;
  -webkit-transition: 2s;
  position: fixed;
  z-index: 99999;
}

#nav-menu:hover {
  padding: 5px;
  width: 112px;
  height: 112px;
  -webkit-transition: 2s;
}

/*# sourceMappingURL=ebook-grids.css.map */
