
// }
/*********************
BREAKPOINTS
*********************/
body{ 
    flex-direction: column;
    background-color: #333333;
}
.wrapper {
    display: grid;
    flex-direction: column;
    // grid-gap: 10px;
    // grid-column-gap: 20px;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer  footer  footer";
    max-width: 1024px;
  
    @mixin breakpoint($point) {
        @if $point == desktop {
          @media (min-width: 70em) { @content ; }
       }
        @else if $point == laptop {
          @media (min-width: 64em) { @content ; }
       }
         @else if $point == tablet {
          @media (min-width: 50em) { @content ; }
       }
        @else if $point == phablet {
          @media (min-width: 37.5em)  { @content ; }
       }
       @else if $point == mobileonly {
          @media (max-width: 37.5em)  { @content ; }
     
       }
     }
}



img{
    -webkit-transition: 2s;
}

.sidebar{
    // padding-right: 20px;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 0%;
    -webkit-transition: 2s;
    margin-top:-8px;
    margin-left: -8px;
    -webkit-transition: 2s;
        overflow-x: hidden;
        z-index: 9999999;
    // margin-top: 10%;
    text-align: left;
    
    grid-area: sidebar;
    background-color: rgba(241,76,126,0.9);
    z-index: 20;
    box-shadow: 7px 7px 9px rgba(0,0,0,0.5);
    // border-right: 3px solid rgb(100,100,100);
    h3 {
                font-family: 'Inconsolata', monospace;
                font-size: 28px;
                color: rgba(10,10,10, 0.8);
                margin-left: 32px;
            }
    
    p {
       
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        padding: 2%;
        margin-left: 24px;
    }
    a {
        text-decoration: none;
       
        color: rgb(10,10,10);
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        margin-left: 24px;
        -webkit-transition:2s;
        
    }
    a:hover {
        
        color: rgb(10,155,255);
        font-family: 'Inconsolata', monospace;
        font-size: 26px;
        
        -webkit-transition:2s;
        
    }
    
    li {
        
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        -webkit-transition:2s;
        
    }
    li:hover {
        
        color: rgb(10,155,255);
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        -webkit-transition:2s;
    }
    
}


.content {
    // flex-direction: column;
    grid-area: content;
    // padding-left: 20px;
    width: 92%;
    // margin-left: 20%;
    margin-top: 25%;
    // margin-left: 10%;
    // margin-right: 20%;
    
    p {
        // justify-content: center;
        
        color: rgba(255,255,255,0.8);
        font-family: 'Questrial', sans-serif;
        font-size: 21px;
        text-align: left;
        text-indent: 52px;
        line-height: 1.8;
        // margin-left: -20%;
        
        // margin-left: 25%;
    }
    a {
       
        color: rgba(255,255,255, 0.8);
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        -webkit-transition: 2s;
        text-align: center;
        text-decoration: none;
       
        
    }
    a:hover {
        
        color: rgb(14,144,181);
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        -webkit-transition: 2s;
        
       
        
    }
    a:visited {
        color: rgb(14,144,181);
    }
    .inactive{
        color: rgba(255, 255, 255, 0.279);
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
        -webkit-transition: 2s;
        text-align: center;
        text-decoration: none;
        
    }
    .inactive:hover{
        color: rgba(255, 255, 255, 0.279);
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
        -webkit-transition: 2s;
        text-align: center;
        text-decoration: none;
    }

    
    .setupVisual {
        width: 75%;
        height: 75%;
    }
    #hero-img-sm{
        max-width:350px;
        margin-left: 25%;
        margin-right: 25%;
        width: 100%;
        height: 100%; 
        margin-top: -12%;
        margin-bottom: -12%;
        grid-area: content;
        position: center;
        float: center;
    }
    #hero-img{
        max-width:650px;
        margin-top: -5%;
        margin-left: 10%;
        margin-right: 15%;
        width: 100%;
        height: 100%; 
        grid-area: content;
        position: center;
        float: center;
        
    }
    // #hero-img:hover{
    //     max-width:755px;
    //     margin-top: -8%;
        
    //     // box-shadow: -5px 7px 9px rgba(0,0,0,0.2);
    // }
    .blue-code{
        font-family: 'Inconsolata', monospace;
        color: rgba(14, 144, 181);
        -webkit-transition: 2s;
    }
    .blue-code:hover{
        font-family: 'Inconsolata', monospace;
        color: rgba(14, 144, 181);
        font-size: 23px;
        -webkit-transition: 2s;
    }
    .red-code{
        font-family: 'Inconsolata', monospace;
        color: rgba(241,76,126);
        -webkit-transition: 2s;
    }
    .red-code:hover{
        font-family: 'Inconsolata', monospace;
        color: rgba(241,76,126);
        font-size: 23px;
        -webkit-transition: 2s;
    }
    .white-code{
        -webkit-transition: 2s;
        font-family: 'Inconsolata', monospace;
    }
    .white-code:hover{
        font-family: 'Inconsolata', monospace;
        font-size: 23px;
        -webkit-transition: 2s;
    }
    

    .subheader{
        color: rgb(100,100,100);
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
        text-align: center;
        // margin-left:5%;
        // margin-right:10%;
        margin-bottom: 5%;
    
    }

    h4 {
            text-align: left;
            color: rgb(100,100,100);
            font-size: 24px;
            font-style: italic;
            // margin-left: 10%;
    }
    
    h3 { 
        font-family: 'Inconsolata', monospace;
        font-size: 26px;
        color: rgb(50,150,255);
     //    margin-left: 10%;
             // margin-left: 5;
             
     }
        
    h2 {
            // color: rgb(210,210,210);
        font-size: 28px;
        font-family: 'Inconsolata', monospace;
       color: rgba(14, 144, 181);
       text-align: right;
    /// font-style: italic;
            // margin-left: 5% px;
            // margin-right: 5% px;
        
    }
   
    h1 {
            // color: rgb(210,210,210);
        font-size: 36px;
        font-family: 'Inconsolata', monospace;
       color: rgba(14, 144, 181);
       text-align: right;
    /// font-style: italic;
            // margin-left: 5% px;
            // margin-right: 5% px;
        
    }

     
  
        
    li {
        font-family: 'Inconsolata', monospace;
        font-size: 24px;
        // margin-left: 50px;
        font-style: italic;
        color: rgb(150,150,150);
        margin-left: 10%;
        // margin-top: 12px;
        margin-bottom: 12px;
        // margin-left: 10px;
    }
    
    .gridImg {
        grid-area: content;
        max-width: 350px;
        // margin-left:5%;
        // margin-right: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
        position: center;
    }

    .egImg {
        grid-area: content;
        // padding-right: 25px;
        width: 75%;
        height: 75%;
        max-height: 400px;
        max-width: 750px;
        float: center;
     
        // img{
        //     // padding-top: 25px;
        //     padding-left: 25px;
        //     padding-right: 25px;
        // }
        // float:left;
        // top: 50%;
        // margin-left: 50%;
    }

    .instructionalImg {
        width: 80%;
        height: 80%;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 5%;
        max-width: 550px;
        max-height: 400px;
    }

   .categ {
        font-style: italic;
        // text-align: center;
        font-size: 32px;
        color: rgb(200,200,200);
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .egText{
        
        font-family: 'Inconsolata', monospace;
        font-size: 21px;
        text-align: center;
        max-width: 750px;
      
        
    }

}
  
.header {
    grid-area: header;
}
 
  
      
  
  

#pageHeader {
    margin-top: -15px;
    width: 100%;
    grid-area: header;
    position: fixed;
    background-color:white;
    background: linear-gradient(180deg, #333333, #333333f6);
    // background: linear-gradient(180deg, rgba(241,76,126,0.6), rgba(241,76,126));
    box-shadow: -5px 7px 9px rgba(0,0,0,0.1);
    font-family: 'Inconsolata', monospace;
    margin-left: -10px;
    // margin-left: 25%;

    
    h1 {
        
        font-size: 36px;
        text-align:right;
        margin-right:15%;
        color: rgba(241,76,126);
    }

    h2 {
        margin-left: 20%;
        font-size: 24px;
        font-style: thin;
        text-align:right;
        margin-right:15%;
        margin-bottom:2%;
        // color: white;
        color:rgba(241,76,126,0.9);
    }
    // #logo {
    //     grid-area: header;
    //     width: 5%;
    //     height: 5%;
    //     float: right;
        
    //     // padding-right: 5%;
    // }
    
    // img {
    //     margin-top: -6%;
    //     margin-right: 3%;
    //     float: right;
    //     width: 10%;
    //     height: 10%;
    //     transition: 2s;
    // }
    // img:hover{
    //     width: 11%;
    //     height: 11%;
    //     transition: 2s;
    // }
    
    // padding-left: 150px;
    // text-align: center;
    // text-transform: uppercase;
}

#headerBreak {
    grid-area: header;
    margin-top: 3px;
    // mfrgin-bottom: 6px;
    width: 100%;
    z-index: 1;
    // margin-left: 15vh;
  margin-top:2%;
//   margin-bottom:0.5%;
  border-top: 1.25px solid rgb(241,76,126,0.5);
//   margin-left: -10px;
//   margin-right: 25 px;
}

#footerBreak {
    grid-area: footer;
    margin-top: 3px;
    width: 100%;
    z-index: 2;
    border-top: 3px solid rgb(100,100,100);
}

.footer {
    // float: right;
    // position: fixed;
    grid-area: footer;
    // float: center;
    position: fixed;
    margin-left: 200px;
    margin-right: 10%;
    // border-top: 3px solid rgb(100,100,100);
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }
    
    a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .previous {
        background-color: #f1f1f1;
        color: black;
    }
    
    .next {
        background-color: #4CAF50;
        color: white;
    }
    
    .round {
        border-radius: 50%;
    }
}
#logo {
    margin-top: -6%;
    margin-right: 3%;
    float: right;
    width: 10%;
    height: 10%;
    -webkit-transition: 2s;
    max-width: 150px;
    min-width: 100px;
}
#logo:hover{
    width: 11%;
    height: 11%;
    max-width: 165px;
    -webkit-transition: 2s;
}

#nav-menu{
    padding:10px;
    width:100px;
    height:100px;
    box-shadow: -4px, 7px, 7px, rgba(0,0,0);
    -webkit-transition:2s;
    position:fixed;
    z-index: 99999;
    
}
#nav-menu:hover{
    padding:5px;
    width:112px;
    height:112px;
    -webkit-transition:2s;
}





