
// }
/*********************
BREAKPOINTS
*********************/
body{ 
    flex-direction: column;
    background-color: #333333;
}
.wrapper {
    display: grid;
    flex-direction: column;
    // grid-gap: 10px;
    // grid-column-gap: 20px;
    grid-template-columns: 30% 70% 0%;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer  footer  footer";
    max-width: 1024px;
  
    @mixin breakpoint($point) {
        @if $point == desktop {
          @media (min-width: 70em) { @content ; }
       }
        @else if $point == laptop {
          @media (min-width: 64em) { @content ; }
       }
         @else if $point == tablet {
          @media (min-width: 50em) { @content ; }
       }
        @else if $point == phablet {
          @media (min-width: 37.5em)  { @content ; }
       }
       @else if $point == mobileonly {
          @media (max-width: 37.5em)  { @content ; }
     
       }
     }
}



img{
    -webkit-transition: 2s;
}

.sidebar:hover {
    // padding-right: 20px;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: 30%;
    -webkit-transition: 2s;
    margin-top:-8px;
    margin-left: -8px;
    
    // margin-top: 10%;
    grid-area: sidebar;
    background-color: rgba(241,76,126,0.9);
    z-index: 20;
    box-shadow: 7px 7px 9px rgba(0,0,0,0.5);
    // border-right: 3px solid rgb(100,100,100);
    p {
       
        font-family: 'Consolas', sans-serif;
        font-size: 16px;
        padding: 2%;
    }
    a {
       
        color: rgb(10,10,10);
        font-family: 'Consolas', sans-serif;
        font-size: 14px;
        
    }
    a:hover {
        
        color: rgb(10,155,255);
        font-family: 'consolas', sans-serif;
        font-size: 14px;
        
    }
    
    li {
        
        font-family: 'Consolas', sans-serif;
        font-size: 14px;
        
    }
    li:hover {
        
        color: rgb(10,155,255);
        font-family: 'Consolas', sans-serif;
        font-size: 16px;
        
    }
    
}

.sidebar{
    flex-direction: column;
    position: fixed;
    height: 10%;
    width: 10%;
    -webkit-transition: 2s;
    overflow: hidden;
    z-index: 30;
    margin-top:-8px;
    margin-left: -8px;
    
    p {
        
        font-family: 'Consolas', sans-serif;
        font-size: 16px;
        
    }
    a {
        -webkit-transition: 1s;
        color: rgb(10,10,10, 0.1);
        font-family: 'Consolas', sans-serif;
        font-size: 14px;
        
    }
    a:hover {
        
        color: rgb(10,155,255);
        font-family: 'consolas', sans-serif;
        font-size: 14px;
        
    }
    
    li {
        
        font-family: 'Consolas', sans-serif;
        font-size: 14px;
        
    }
    li:hover {
        
        color: rgb(10,155,255);
        font-family: 'Consolas', sans-serif;
        font-size: 16px;
        
    }
    
    
}
.content {
    // flex-direction: column;
    grid-area: content;
    // padding-left: 20px;
    width: 92%;
    // margin-left: 20%;
    margin-top: 25%;
    // margin-left: 10%;
    // margin-right: 20%;
    
    p {
        // justify-content: center;
        
        color: rgba(255,255,255,0.7);
        font-family: 'quenalas', sans-serif;
        font-size: 16px;
        text-align: left;
        text-indent: 52px;
        line-height: 1.8;
        margin-left: -20%;
        
        // margin-left: 25%;
    }

    
    .setupVisual {
        width: 75%;
        height: 75%;
    }
    #hero-img{
        max-width:750px;
        margin-top: -8%;
        width: 75%;
        height: 75%;
        
    }
    #hero-img:hover{
        max-width:755px;
        margin-top: -8%;
        width: 75%;
        height: 75%;
        
        // box-shadow: -5px 7px 9px rgba(0,0,0,0.2);
    }
    .blue-code{
        font-family: 'Consolas';
        color: rgba(14, 144, 181);
    }
    .red-code{
        font-family: 'Consolas';
        color: rgba(241,76,126);
    }
    .white-code{
        font-family: 'Consolas';
    }
    

    .subheader{
        color: rgb(100,100,100);
        font-family: 'Consolas', sans-serif;
        font-size: 18px;
        text-align: center;
        // margin-left:5%;
        // margin-right:10%;
        margin-bottom: 5%;
    
    }

    h4 {
            text-align: left;
            color: rgb(100,100,100);
            font-size: 16px;
            font-style: italic;
            // margin-left: 10%;
    }
    
    h3 { 
        font-family: 'Consolas', sans-serif;
        font-size: 18px;
        color: rgb(50,150,255);
     //    margin-left: 10%;
             // margin-left: 5;
             
     }
        
    h2 {
            // color: rgb(210,210,210);
        font-size: 22px;
        font-family: 'Consolas', sans-serif;
       color: rgba(14, 144, 181);
       text-align: right;
    /// font-style: italic;
            // margin-left: 5% px;
            // margin-right: 5% px;
        
    }
   
    h1 {
            // color: rgb(210,210,210);
        font-size: 36px;
        font-family: 'Consolas', sans-serif;
       color: rgba(14, 144, 181);
       text-align: right;
    /// font-style: italic;
            // margin-left: 5% px;
            // margin-right: 5% px;
        
    }

     
  
        
    li {
        font-family: 'Consolas', sans-serif;
        font-size: 24px;
        // margin-left: 50px;
        font-style: italic;
        color: rgb(150,150,150);
        margin-left: 10%;
        // margin-top: 12px;
        margin-bottom: 12px;
        // margin-left: 10px;
    }
    
    .gridImg {
        grid-area: content;
        max-width: 350px;
        // margin-left:5%;
        // margin-right: 15%;
        padding-top: 2%;
        padding-bottom: 2%;
        position: center;
    }

    .egImg {
        grid-area: content;
        // padding-right: 25px;
        width: 75%;
        height: 75%;
        max-height: 400px;
        max-width: 750px;
        float: center;
     
        // img{
        //     // padding-top: 25px;
        //     padding-left: 25px;
        //     padding-right: 25px;
        // }
        // float:left;
        // top: 50%;
        // margin-left: 50%;
    }

    .instructionalImg {
        width: 80%;
        height: 80%;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

   .categ {
        font-style: italic;
        // text-align: center;
        font-size: 32px;
        color: rgb(200,200,200);
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .egText{
        
        font-family: 'Consolas', sans-serif;
        font-size: 12px;
        text-align: center;
        max-width: 750px;
      
        
    }

}
  
.header {
    grid-area: header;
}
 
  
      
  
  
// .box {
//     // background-color: #444;
//     color: #fff;
//     // border-radius: 5px;
//     padding: 10px;
//     font-size: 150%;
// }
  

#pageHeader {
    margin-top: -15px;
    width: 100%;
    grid-area: header;
    position: fixed;
    background-color:white;
    background: linear-gradient(180deg, #333333, #333333f6);
    // background: linear-gradient(180deg, rgba(241,76,126,0.6), rgba(241,76,126));
    box-shadow: -5px 7px 9px rgba(0,0,0,0.1);
    font-family: 'Consolas', sans-serif;
    margin-left: -10px;
    // margin-left: 25%;

    
    h1 {
        
        font-size: 24px;
        text-align:right;
        margin-right:15%;
        color: rgba(241,76,126);
    }

    h2 {
        margin-left: 20%;
        font-size: 14px;
        font-style: thin;
        text-align:right;
        margin-right:15%;
        margin-bottom:2%;
        // color: white;
        color:rgba(241,76,126,0.9);
    }
    // #logo {
    //     grid-area: header;
    //     width: 5%;
    //     height: 5%;
    //     float: right;
        
    //     // padding-right: 5%;
    // }
    
    // img {
    //     margin-top: -6%;
    //     margin-right: 3%;
    //     float: right;
    //     width: 10%;
    //     height: 10%;
    //     transition: 2s;
    // }
    // img:hover{
    //     width: 11%;
    //     height: 11%;
    //     transition: 2s;
    // }
    
    // padding-left: 150px;
    // text-align: center;
    // text-transform: uppercase;
}

#headerBreak {
    grid-area: header;
    margin-top: 3px;
    // margin-bottom: 6px;
    width: 100%;
    z-index: 1;
    // margin-left: 15vh;
  margin-top:2%;
//   margin-bottom:0.5%;
  border-top: 1.25px solid rgb(241,76,126,0.5);
//   margin-left: -10px;
//   margin-right: 25 px;
}

#footerBreak {
    grid-area: footer;
    margin-top: 3px;
    width: 100%;
    z-index: 2;
    border-top: 3px solid rgb(100,100,100);
}

.footer {
    // float: right;
    // position: fixed;
    grid-area: footer;
    // float: center;
    position: fixed;
    margin-left: 200px;
    margin-right: 10%;
    // border-top: 3px solid rgb(100,100,100);
    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }
    
    a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .previous {
        background-color: #f1f1f1;
        color: black;
    }
    
    .next {
        background-color: #4CAF50;
        color: white;
    }
    
    .round {
        border-radius: 50%;
    }
}
#logo {
    margin-top: -6%;
    margin-right: 3%;
    float: right;
    width: 10%;
    height: 10%;
    -webkit-transition: 2s;
    max-width: 130px;
    min-width: 50px;
}
#logo:hover{
    width: 11%;
    height: 11%;
    max-width: 140px;
    -webkit-transition: 2s;
}

#nav-menu{
    padding:5px;
    width:53px;
    height:53px;
    box-shadow: -4px, 7px, 7px, rgba(0,0,0);
    -webkit-transition:2s;
    
}
#nav-menu:hover{
    padding:5px;
    width:62px;
    height:62px;
    -webkit-transition:2s;
    box-shadow: -4px, 7px, 7px, rgba(0,0,0);
    stroke-opacity: 50%;
}

#hero-img{
    max-width:750px;
    margin-top: -8%;
}




